<div id="play-space">
	<div class="row">
		<button class="play-square" id="topLeft">{{topLeft}}</button>
		<button class="play-square" id="topCenter">{{topCenter}}</button>
		<button class="play-square" id="topRight">{{topRight}}</button>
	</div>
	<div class="row">
		<button class="play-square" id="midLeft">{{midLeft}}</button>
		<button class="play-square" id="midCenter">{{midCenter}}</button>
		<button class="play-square" id="midRight">{{midRight}}</button>
	</div>
	<div class="row">
		<button class="play-square" id="botLeft">{{botLeft}}</button>
		<button class="play-square" id="botCenter">{{botCenter}}</button>
		<button class="play-square" id="botRight">{{botRight}}</button>
	</div>
</div>